@charset "UTF-8";
/*Variables para aplicar en los estilos*/
/*Aplicando sombras con map al footer y los botones del nav*/
/*aplicando extend a imagenes del footer*/
.footer_grid .contactofoot .imagenes_footer-contacto, .footer_grid .redesfoot .imagenes_footer-redes {
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px; }

/*Aplicando mixins*/
* {
  padding: 0;
  margin: 0; }

div.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%; }

header div .row {
  background-color: #458dd6;
  min-width: 100%;
  padding-right: 0px;
  padding-left: 0px; }

header div .row_header {
  margin-right: 0px !important;
  margin-left: 0px !important; }
  header div .row_header .logo-pag {
    /*Logo redondo de la pagina*/
    background-image: url(../imagenes_pagina/LogoPescandoUruguayConLetras.png);
    margin-left: 1%;
    margin-top: 0px;
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-size: contain;
    z-index: 1; }
  header div .row_header .search_css {
    background-color: rgba(232, 232, 232, 0.437) !important; }
  header div .row_header .btn {
    box-shadow: 0 0 5px rgba(4, 8, 27, 0.797) !important;
    color: white !important;
    border: none !important; }
  header div .row_header .boton-nav {
    /*Botones del menu nav*/
    margin-left: 20px;
    box-shadow: 0 0 5px rgba(4, 8, 27, 0.797);
    color: white !important; }
  header div .row_header .boton-nav:hover {
    transform: scale(0.9);
    background-color: #197bd1; }
  header div .row_header .btn:hover {
    transform: scale(0.9);
    background-color: #197bd1 !important; }
  header div .row_header div ul.nav-css {
    margin-right: 20px !important; }
  header div .row_header ul.btn-login {
    width: 60px !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 45%; }
  header div .row_header ul li.btn-login {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 60px !important;
    height: 60px !important; }

header div ul li a img.img-login {
  width: 27px !important;
  height: 27px !important; }

.show {
  z-index: 1; }

@media screen and (min-width: 992px) {
  header div.row_header div ul.nav-css {
    margin-right: auto !important; }
  dl, ol, ul.btn-login {
    margin-left: 0px !important; } }

.index-grid {
  display: flex;
  flex-direction: column;
  background-color: #5695d4af;
  width: 100%; }

/*CARRUSELES*/
.titulocarrusel {
  text-align: center;
  color: #0b4c71;
  background-color: #5695d4af;
  border-radius: 10% 10%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px; }

div.carousel {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  object-fit: contain;
  width: 98%;
  height: 300px;
  border: 0.5px ridge #828384; }
  div.carousel .carousel-inner {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    object-fit: contain;
    width: 100%;
    height: 300px; }
    div.carousel .carousel-inner .carousel-item img {
      display: flex;
      align-items: center;
      justify-items: center;
      flex-direction: row;
      object-fit: contain;
      width: 100%;
      height: 300px; }
    div.carousel .carousel-inner .carousel-item .zoom {
      transition: transform .2s; }
    div.carousel .carousel-inner .carousel-item .zoom:hover {
      transform: scale(1.1);
      cursor: pointer; }
    div.carousel .carousel-inner .carousel-item .img_fishhunter {
      height: 600px;
      margin-bottom: 110px; }
    div.carousel .carousel-inner .carousel-item .img_rapalashad {
      margin-bottom: 110px; }
    div.carousel .carousel-inner .carousel-item .img_cañacocodrilofibra {
      height: 200px; }
    div.carousel .carousel-inner .carousel-item .img_cañadaiwalaguna {
      height: 600px; }
    div.carousel .carousel-inner .carousel-item .img_cañafly {
      height: 400px; }
  div.carousel .boton_carrusel {
    opacity: 0.3 !important; }

body .index_grid {
  display: grid;
  /*grid-template-rows: 50px repeat(3, 1fr) 50px repeat(3, 1fr);*/
  grid-template-rows: 2% 16% 16% 16% 2% 16% 16% 16%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo" "item1 item2 item3" "item4 item5 item6" "item7 item8 item9" "tituloc tituloc tituloc" "itemc1 itemc2 itemc3" "itemc4 itemc5 itemc6" "itemc7 itemc8 itemc9";
  width: 100%;
  height: 4500px;
  background-color: #5695d4 f;
  /*Seccion señuelos*/
  /*Seccion Cañas*/ }
  body .index_grid img {
    width: 70%;
    height: 55%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%; }
  body .index_grid div {
    /*Borde de los div*/
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    width: 90% !important;
    height: 96%;
    border: 1px solid #0f364c; }
  body .index_grid div.card-body {
    width: 90%;
    height: 30%;
    margin-left: 5%;
    margin-right: 5%; }
  body .index_grid .zoom {
    transition: transform 0.5s; }
  body .index_grid .zoom:hover {
    transform: scale(1.2);
    cursor: pointer; }
  body .index_grid .item {
    grid-area: titulo;
    object-fit: contain;
    text-align: center;
    color: #0f364c;
    height: 70%;
    width: 40%;
    border: 2px solid #0b4c71;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    background-color: #5290cebb; }
  body .index_grid .item1 {
    grid-area: item1;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .item2 {
    grid-area: item2;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .item3 {
    grid-area: item3;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .item4 {
    grid-area: item4;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .item5 {
    grid-area: item5;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .item6 {
    grid-area: item6;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .item7 {
    grid-area: item7;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .item8 {
    grid-area: item8;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .item9 {
    grid-area: item9;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb;
    width: 50%; }
  body .index_grid .card-body {
    grid-area: btn-login;
    width: 90%;
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "card-title card-title" "btn-comp btn-fav"; }
    body .index_grid .card-body .btn {
      box-shadow: 0 0 5px rgba(4, 8, 27, 0.797);
      color: white !important;
      background-color: #308faf;
      border-style: none;
      margin-left: 3%;
      margin-right: 3%; }
    body .index_grid .card-body .btn:hover {
      transform: scale(0.9);
      background-color: #44a6c7; }
    body .index_grid .card-body .card-title {
      grid-area: card-title;
      color: #0f364c;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      margin-bottom: 10%; }
    body .index_grid .card-body .btn-fav {
      grid-area: btn-fav;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      height: 80%;
      width: 40%;
      margin-left: 30%;
      margin-right: 30%; }
    body .index_grid .card-body .btn-comp {
      grid-area: btn-comp;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      height: 80%; }
  body .index_grid .itemc {
    grid-area: tituloc;
    object-fit: contain;
    text-align: center;
    color: #0f364c;
    height: 70%;
    width: 40%;
    border: 1px solid #0b4c71;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    background-color: #5290cebb; }
  body .index_grid .itemc1 {
    grid-area: itemc1;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .itemc2 {
    grid-area: itemc2;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .itemc3 {
    grid-area: itemc3;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .itemc4 {
    grid-area: itemc4;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .itemc5 {
    grid-area: itemc5;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .itemc6 {
    grid-area: itemc6;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .itemc7 {
    grid-area: itemc7;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .itemc8 {
    grid-area: itemc8;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }
  body .index_grid .itemc9 {
    grid-area: itemc9;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5290cebb; }

@media (max-width: 768px) {
  body .index_grid {
    display: grid;
    grid-template-rows: 50px repeat(5, 1fr) 50px repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo titulo" "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item9" "tituloc tituloc" "itemc1 itemc2" "itemc3 itemc4" "itemc5 itemc6"  "itemc7 itemc8" "itemc9 itemc9";
    width: 100%;
    height: 4000px;
    background-color: #5695d4 f; } }

@media (max-width: 1100px) {
  body .index_grid {
    height: 2700px; }
    body .index_grid .card-body .btn-fav {
      height: 80%;
      width: 50%;
      margin-left: 25%;
      margin-right: 25%; } }

.index_grid_prov {
  background-color: #5695d4 f !important; }
  .index_grid_prov .cont_prov {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px !important;
    width: 100%;
    background-color: #5695d4 f !important; }
    .index_grid_prov .cont_prov .row-cols-md-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      background-color: #5695d4 f !important; }
    .index_grid_prov .cont_prov div.row_prov {
      background-color: #5695d4 f !important; }
      .index_grid_prov .cont_prov div.row_prov .col_prov {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-top: 20px !important;
        background-color: #5695d4 f !important; }
        .index_grid_prov .cont_prov div.row_prov .col_prov .mapa_prov {
          width: 100%;
          height: 100%; }
        .index_grid_prov .cont_prov div.row_prov .col_prov .boton_prov {
          box-shadow: 0 0 5px rgba(4, 8, 27, 0.797) !important;
          background-color: #0f364c !important;
          color: white !important; }
        .index_grid_prov .cont_prov div.row_prov .col_prov .boton_prov:hover {
          transform: scale(0.9) !important;
          background-color: #1264ac !important; }

.main_contacto {
  background-color: #5695d4af; }
  .main_contacto .cont-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr), 30px, 30px, 100px, 40px;
    grid-template-areas: "... titulo-form titulo-form ..." "... imp-name imp-apellido ..." "... imp-email imp-tel ..." "... titulo-cons titulo-cons ..." "... check check ..." "... imp-cons imp-cons ..." "... botones-form botones-form ...";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .main_contacto .cont-form .titulo-form {
      grid-area: titulo-form;
      width: 80%;
      height: 50%;
      margin-top: 5%;
      margin-bottom: 2%;
      margin-left: 10%;
      margin-right: 10%;
      background-color: #458dd6;
      border-radius: 10% 10%;
      color: #0b4c71;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center; }
    .main_contacto .cont-form .imp-name {
      grid-area: imp-name;
      width: 90%;
      height: 90%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center; }
    .main_contacto .cont-form .imp-apellido {
      grid-area: imp-apellido;
      width: 90%;
      height: 90%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center; }
    .main_contacto .cont-form .imp-email {
      grid-area: imp-email;
      width: 90%;
      height: 90%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center; }
    .main_contacto .cont-form .imp-tel {
      grid-area: imp-tel;
      width: 90%;
      height: 90%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center; }
    .main_contacto .cont-form .titulo-cons {
      grid-area: titulo-cons;
      width: 60%;
      height: 40%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 20%;
      margin-right: 20%;
      background-color: #458dd6;
      border-radius: 10% 10%;
      color: #0b4c71;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center; }
    .main_contacto .cont-form .form-control {
      background-color: rgba(232, 232, 232, 0.437) !important;
      opacity: 0.7; }
    .main_contacto .cont-form .check {
      grid-area: check;
      width: 90%;
      height: 98%;
      margin-top: 1%;
      margin-bottom: 1%;
      margin-left: 5%;
      margin-right: 5%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 20px,10px;
      grid-template-areas: "check-name_prod check-name_dist check-name_prov" "prod-rad dis-rad prov-rad"; }
      .main_contacto .cont-form .check .check-name_prod {
        grid-area: check-name_prod;
        font-weight: bold;
        color: #0f364c;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .check .prod-rad {
        grid-area: prod-rad;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-left: 45%; }
      .main_contacto .cont-form .check .check-name_dist {
        grid-area: check-name_dist;
        font-weight: bold;
        color: #0f364c;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .check .dis-rad {
        grid-area: dis-rad;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-left: 45%; }
      .main_contacto .cont-form .check .check-name_prov {
        grid-area: check-name_prov;
        font-weight: bold;
        color: #0f364c;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-right: 5px;
        margin-left: 5px; }
      .main_contacto .cont-form .check .prov-rad {
        grid-area: prov-rad;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-left: 45%; }
      .main_contacto .cont-form .check .radio {
        box-shadow: 0 0 5px rgba(4, 8, 27, 0.797); }
    .main_contacto .cont-form .imp-cons {
      grid-area: imp-cons;
      width: 90%;
      height: 96%;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center; }
    .main_contacto .cont-form .botones-form {
      grid-area: botones-form;
      width: 90%;
      height: 94%;
      margin-top: 1%;
      margin-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%;
      justify-content: center;
      justify-items: center;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100%;
      grid-template-areas: "btn-submit btn-reset"; }
      .main_contacto .cont-form .botones-form .btn-submit {
        grid-area: btn-submit;
        box-shadow: 0 0 5px rgba(4, 8, 27, 0.797);
        color: white !important; }
      .main_contacto .cont-form .botones-form .btn-submit:hover {
        transform: scale(0.9);
        background-color: #197bd1 !important; }
      .main_contacto .cont-form .botones-form .btn-reset {
        grid-area: btn-reset;
        box-shadow: 0 0 5px rgba(4, 8, 27, 0.797);
        color: white !important; }
      .main_contacto .cont-form .botones-form .btn-reset:hover {
        transform: scale(0.9);
        background-color: #197bd1 !important; }
    .main_contacto .cont-form ::placeholder {
      color: white !important; }

@media screen and (max-width: 1200px) {
  .main_contacto {
    background-color: #5695d4af; }
    .main_contacto .cont-form {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr), 30px, 30px, 100px, 40px;
      grid-template-areas: "titulo-form titulo-form titulo-form titulo-form" "imp-name imp-name imp-apellido imp-apellido" "imp-email imp-email imp-tel imp-tel" "titulo-cons titulo-cons titulo-cons titulo-cons" "... check check ..." "imp-cons imp-cons imp-cons imp-cons" "... botones-form botones-form ...";
      justify-content: center;
      justify-items: center;
      align-items: center; }
      .main_contacto .cont-form .titulo-form {
        grid-area: titulo-form;
        width: 60%;
        height: 50%;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 20%;
        margin-right: 20%;
        background-color: #458dd6;
        border-radius: 10% 10%;
        color: #0b4c71;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .titulo-cons {
        grid-area: titulo-cons;
        width: 60%;
        height: 40%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 20%;
        margin-right: 20%;
        background-color: #458dd6;
        border-radius: 10% 10%;
        color: #0b4c71;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .imp-name {
        grid-area: imp-name;
        width: 70%;
        height: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 25%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .imp-apellido {
        grid-area: imp-apellido;
        width: 70%;
        height: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 25%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .imp-email {
        grid-area: imp-email;
        width: 70%;
        height: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 25%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .imp-tel {
        grid-area: imp-tel;
        width: 70%;
        height: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 25%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; } }

@media screen and (max-width: 525px) {
  .main_contacto {
    background-color: #5695d4af; }
    .main_contacto .cont-form {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr), 30px, 30px, 100px, 40px;
      grid-template-areas: "titulo-form titulo-form titulo-form titulo-form" "imp-name imp-name imp-apellido imp-apellido" "imp-email imp-email imp-tel imp-tel" "titulo-cons titulo-cons titulo-cons titulo-cons" "... check check ..." "imp-cons imp-cons imp-cons imp-cons" "botones-form botones-form botones-form botones-form";
      justify-content: center;
      justify-items: center;
      align-items: center; }
      .main_contacto .cont-form .titulo-form {
        grid-area: titulo-form;
        width: 96%;
        height: 50%;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 3%;
        margin-right: 3%;
        background-color: #458dd6;
        border-radius: 10% 10%;
        color: #0b4c71;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .titulo-cons {
        grid-area: titulo-cons;
        width: 90%;
        height: 40%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #458dd6;
        border-radius: 10% 10%;
        color: #0b4c71;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .imp-name {
        grid-area: imp-name;
        width: 90%;
        height: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .imp-apellido {
        grid-area: imp-apellido;
        width: 90%;
        height: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .imp-email {
        grid-area: imp-email;
        width: 90%;
        height: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; }
      .main_contacto .cont-form .imp-tel {
        grid-area: imp-tel;
        width: 90%;
        height: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; } }

.login-form {
  display: grid;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #5695d4af;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "... titulo-login ..." "... imp-user ..." "... imp-pass ..." "... btn-login ..." "... regist-log ..."; }
  .login-form .titulo-login {
    grid-area: titulo-login;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #458dd6;
    border-radius: 10% 10%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5px; }
    .login-form .titulo-login h2 {
      color: #0f364c; }
  .login-form .imp-user {
    grid-area: imp-user;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .login-form .imp-user .imp-log {
      background-color: rgba(232, 232, 232, 0.437);
      width: 50%; }
  .login-form .imp-pass {
    grid-area: imp-pass;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .login-form .imp-pass .imp-log {
      background-color: rgba(232, 232, 232, 0.437);
      width: 50%; }
  .login-form .btn-login {
    grid-area: btn-login;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .login-form .btn-login .btn {
      box-shadow: 0 0 5px rgba(4, 8, 27, 0.797);
      color: white !important;
      background-color: #308faf;
      border-style: none;
      margin-left: 2%;
      margin-right: 2%; }
    .login-form .btn-login .btn:hover {
      transform: scale(0.9);
      background-color: #44a6c7; }
  .login-form .regist-log {
    grid-area: regist-log;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white; }

@media screen and (max-width: 900px) {
  .login-form {
    display: grid;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #5695d4af;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "titulo-login titulo-login titulo-login" "imp-user imp-user imp-user" "imp-pass imp-pass imp-pass" "btn-login btn-login btn-login" "regist-log regist-log regist-log"; }
    .login-form .titulo-login {
      grid-area: titulo-login;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      background-color: #458dd6;
      border-radius: 10% 10%;
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 5px; } }

.reg-form {
  display: grid;
  background-color: #5695d4af;
  padding-top: 5%;
  padding-bottom: 5%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "... titulo-reg ..." "... uno-reg ..." "... dos-reg ..." "... tres-reg ..." "... cuatro-reg ..." "... btn-reg ..." "... reg-log ..."; }
  .reg-form .titulo-reg {
    grid-area: titulo-reg;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background-color: #458dd6;
    border-radius: 10% 10%;
    margin-bottom: 5px; }
    .reg-form .titulo-reg h2 {
      color: #0f364c; }
  .reg-form .uno-reg {
    grid-area: uno-reg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    width: 100%; }
  .reg-form .dos-reg {
    grid-area: dos-reg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    width: 100%; }
  .reg-form .tres-reg {
    grid-area: tres-reg;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%; }
  .reg-form .cuatro-reg {
    grid-area: cuatro-reg;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%; }
  .reg-form .reg-log {
    grid-area: reg-log;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white; }
  .reg-form .btn-reg {
    /*Estilos del boton registrarme*/
    grid-area: btn-reg;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%; }
    .reg-form .btn-reg .btn {
      box-shadow: 0 0 5px rgba(4, 8, 27, 0.797);
      color: white !important;
      background-color: #308faf;
      border-style: none;
      margin-left: 2%;
      margin-right: 2%; }
    .reg-form .btn-reg .btn:hover {
      transform: scale(0.9);
      background-color: #44a6c7; }
  .reg-form .imp-reg {
    /*Estilos de los campos imput*/
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(232, 232, 232, 0.437); }

@media screen and (max-width: 900px) {
  .reg-form {
    display: grid;
    background-color: #5695d4af;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "titulo-reg titulo-reg titulo-reg" "uno-reg uno-reg uno-reg" "dos-reg dos-reg dos-reg" "tres-reg tres-reg tres-reg" "cuatro-reg cuatro-reg cuatro-reg" "... btn-reg ..." "reg-log reg-log reg-log"; }
    .reg-form .titulo-reg {
      grid-area: titulo-reg;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      background-color: #458dd6;
      border-radius: 10% 10%;
      margin-bottom: 5px; } }

footer {
  /*Fondo del footer*/
  background-image: linear-gradient(to bottom, #0f364c, #0b4c71);
  /* Aplique gradiente al footer */ }

.footer_grid {
  /*Grid general del footer*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20% 80%;
  grid-template-areas: "titulofoot titulofoot titulofoot" "contactofoot redesfoot ubicacionfoot";
  min-width: 100%;
  height: 100%; }
  .footer_grid .titulofoot {
    /*Contenedor titulo del footer*/
    grid-area: titulofoot;
    object-fit: contain;
    text-align: center;
    margin-top: 5px; }
    .footer_grid .titulofoot .titulofootletras {
      /*Titulo del footer*/
      color: #4081a7; }
  .footer_grid .contactofoot {
    /*Como contactarnos en el footer*/
    grid-area: contactofoot;
    object-fit: contain;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.72);
    list-style: none;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40% 60%;
    grid-template-areas: "... contacto_titulo contacto_titulo ..." "... logos_contactos1 logos_contactos2 ...";
    justify-content: center;
    align-items: center; }
    .footer_grid .contactofoot .contacto_foot-titulo {
      /*Titulo de seccion contacto*/
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 10%;
      color: #4081a7;
      grid-area: contacto_titulo; }
    .footer_grid .contactofoot .logos_contactos1 {
      grid-area: logos_contactos1; }
    .footer_grid .contactofoot .logos_contactos2 {
      grid-area: logos_contactos2; }
    .footer_grid .contactofoot .imagenes_footer-contacto {
      margin-bottom: 30px; }
  .footer_grid .redesfoot {
    /*Nuestras redes en el footer*/
    grid-area: redesfoot;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 40% 60%;
    grid-template-areas: "... logos_redes1 logos_redes1 logos_redes2 logos_redes2 ..." "... videoyt videoyt videoyt videoyt ...";
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.72); }
    .footer_grid .redesfoot .logos_redes1 {
      grid-area: logos_redes1; }
    .footer_grid .redesfoot .logos_redes2 {
      grid-area: logos_redes2; }
    .footer_grid .redesfoot .videoyt {
      grid-area: videoyt;
      width: 90%;
      height: 80%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 10%; }
    .footer_grid .redesfoot .imagenes_footer-redes {
      margin-top: 5px;
      margin-bottom: 0px; }
  .footer_grid .ubicacionfoot {
    /*Ubicacion donde nos encontramos*/
    grid-area: ubicacionfoot;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.72);
    color: aliceblue;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "titulomapa" "mapainfoot"; }
    .footer_grid .ubicacionfoot .titulomapainfofoot {
      grid-area: titulomapa;
      margin-top: 1%;
      margin-bottom: 2%;
      color: #4081a7; }
    .footer_grid .ubicacionfoot .mapainfofoot {
      grid-area: mapainfoot;
      width: 80%;
      height: 80%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%; }

/* Querys del footer */
@media screen and (max-width: 768px) {
  .footer_grid .contactofoot {
    /*Como contactarnos en el footer*/
    grid-area: contactofoot;
    object-fit: contain;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.72);
    list-style: none;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 35% 35%;
    grid-template-areas: "contacto_titulo contacto_titulo contacto_titulo" "... logos_contactos1 ..." "... logos_contactos2 ...";
    justify-content: center;
    align-items: center; }
    .footer_grid .contactofoot .contacto_foot-titulo {
      /*Titulo de seccion contacto*/
      margin-top: 20%;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 10%;
      color: #4081a7;
      grid-area: contacto_titulo; }
    .footer_grid .contactofoot .logos_contactos1 {
      grid-area: logos_contactos1; }
    .footer_grid .contactofoot .logos_contactos2 {
      grid-area: logos_contactos2; }
    .footer_grid .contactofoot .imagenes_footer-contacto {
      width: 40px !important;
      height: 40px !important; }
  .footer_grid .redesfoot {
    grid-area: redesfoot;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 30% 40%;
    grid-template-areas: "... logos_redes1 ..." "... logos_redes2 ..." "videoyt videoyt videoyt";
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.72); }
    .footer_grid .redesfoot .imagenes_footer-redes {
      width: 40px;
      height: 40px; }
    .footer_grid .redesfoot .videoyt {
      width: 70%;
      height: 90%;
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 5%; } }
