div.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: $full;
}
header{
    div{
        .row {
            background-color: $colorheader;
            min-width: 100%;
            padding-right: 0px;
            padding-left: 0px;
        }
        .row_header {
            margin-right: 0px !important;
            margin-left: 0px !important;
                .logo-pag { /*Logo redondo de la pagina*/
                    background-image: url(../imagenes_pagina/LogoPescandoUruguayConLetras.png);
                    margin-left: 1%;
                    margin-top: 0px;
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                    background-size: contain;
                    z-index: 1;
                }
                .search_css {
                    background-color: map-get($colorbtn, colorsearch) !important;
                }

                .btn {
                    box-shadow: map-get($sombras, sombrabtnheader) !important;
                    color: map-get($colorbtn, colorletrabtn) !important;
                    border: none !important;
                }
                
                .boton-nav { /*Botones del menu nav*/
                    margin-left: 20px;
                    box-shadow: map-get($sombras, sombrabtnheader);
                    color: map-get($colorbtn, colorletrabtn) !important;
                }
                
                .boton-nav:hover {  
                    transform: scale(0.9);
                    background-color: map-get($colorbtn, colorbtnhover);
                }
                
                .btn:hover {
                    transform: scale(0.9);
                    background-color: map-get($colorbtn, colorbtnhover) !important;
                }
                div ul.nav-css {
                    margin-right: 20px !important;
                }
                 ul.btn-login{
                    width: 60px !important;
                    height: 60px !important;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                    margin-left: 45%;
                }
                 ul li.btn-login{
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                    width: 60px !important;
                    height: 60px !important;
                }
        }
        ul li a img.img-login{
            width: 27px !important; 
            height: 27px !important;
        }
    }
}

.show {
    z-index: 1;
}

@media screen and (min-width: 992px) {
    header div.row_header div ul.nav-css {
        margin-right: auto !important;
    }
    dl, ol, ul.btn-login{
        margin-left: 0px !important;
    }
}