body{
    .index_grid {
        display: grid;
        /*grid-template-rows: 50px repeat(3, 1fr) 50px repeat(3, 1fr);*/
        grid-template-rows: 2% 16% 16% 16% 2% 16% 16% 16%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "titulo titulo titulo"
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9"
        "tituloc tituloc tituloc"
        "itemc1 itemc2 itemc3"
        "itemc4 itemc5 itemc6"
        "itemc7 itemc8 itemc9";
        width: $full;
        height: 4500px;
        background-color: $colorbody;
            img{
                width: 70%;
                height: 55%;
                margin-left: 15%;
                margin-right: 15%;
                margin-top: 10%;
            }
            div {  /*Borde de los div*/
                margin-top: 2%;
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 2%;
                width: 90% !important;
                height: 96%;
                border: 1px solid $colorfooter;
            }
            div.card-body{
                width: 90%;
                height: 30%;
                margin-left: 5%;
                margin-right: 5%;
            }
            .zoom {
                transition: transform 0.5s; 
            }
            .zoom:hover {
                transform: scale(1.2); 
                cursor: pointer;
            }
            /*Seccion señuelos*/
            .item {
                grid-area: titulo;
                border: 2px solid $colorfooterfin;
                width: 60%;
                height: 70%;
                margin-top: 20px;
                margin-bottom: 5%;
                margin-left: 20%;
                margin-right: 20%;
                background-color: $colorheader;
                border-radius: 10% 10%;
                color: $colorfooterfin;
                display: flex;
                justify-content: center;
                justify-items: center;
                align-items: center;
            }
            .item1 {
                grid-area: item1;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .item2 {
                grid-area: item2;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .item3 {
                grid-area: item3;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .item4 {
                grid-area: item4;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .item5 {
                grid-area: item5;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .item6 {
                grid-area: item6;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .item7 {
                grid-area: item7;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .item8 {
                grid-area: item8;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .item9 {
                grid-area: item9;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
                width: 50%;
            }
            .card-body{
                grid-area: btn-login;
                width: 90%;
                display: grid;
                grid-template-columns: 50%, 50%;
                grid-template-rows: 50% 50%;
                grid-template-areas: 
                "card-title card-title"
                "btn-comp btn-fav";
                    .btn{
                        box-shadow: map-get($sombras, sombrabtnheader);
                        color: map-get($colorbtn, colorletrabtn) !important;
                        background-color: $colorbtnform;
                        border-style: none;
                        margin-left: 3%;
                        margin-right: 3%;
                    }
                    .btn:hover{
                        transform: scale(0.9);
                        background-color: $colorbtnformhover;
                    }
                    .card-title{
                        grid-area: card-title;
                        color: $colorfooter;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                        margin-bottom: 10%;
                    }
                    .btn-fav{
                        grid-area: btn-fav;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                        height: 80%;
                        width: 40%;
                        margin-left: 30%;
                        margin-right: 30%;
                    }
                    .btn-comp{
                        grid-area: btn-comp;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                        height: 80%;
                    }
            }  
            /*Seccion Cañas*/  
            .itemc {
                grid-area: tituloc;
                border: 2px solid $colorfooterfin;
                width: 60%;
                height: 70%;
                margin-top: 20px;
                margin-bottom: 5%;
                margin-left: 20%;
                margin-right: 20%;
                background-color: $colorheader;
                border-radius: 10% 10%;
                color: $colorfooterfin;
                display: flex;
                justify-content: center;
                justify-items: center;
                align-items: center;
            }
            .itemc1 {
                grid-area: itemc1;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .itemc2 {
                grid-area: itemc2;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .itemc3 {
                grid-area: itemc3;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .itemc4 {
                grid-area: itemc4;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .itemc5 {
                grid-area: itemc5;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .itemc6 {
                grid-area: itemc6;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .itemc7 {
                grid-area: itemc7;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .itemc8 {
                grid-area: itemc8;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            }
            .itemc9 {
                grid-area: itemc9;
                object-fit: contain;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $colordivproductos;
            } 
    }     
}

@media (max-width: 768px) {
    body{
        .index_grid {
            display: grid;
            grid-template-rows: 50px repeat(5, 1fr) 50px repeat(5, 1fr);
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "titulo titulo"
            "item1 item2"
            "item3 item4"
            "item5 item6"
            "item7 item8"
            "item9 item9"
            "tituloc tituloc"
            "itemc1 itemc2"
            "itemc3 itemc4"
            "itemc5 itemc6" 
            "itemc7 itemc8"
            "itemc9 itemc9";
            width: $full;
            height: 4000px;
            background-color: $colorbody;
                .itemc {
                    margin-bottom: 10%;
                    margin-top: 10px;
                }
                .item {
                    margin-bottom: 10%;
                    margin-top: 10px;
                }
        }
        .footer_grid {
            margin-bottom: 0px;
            bottom: 0;
        }
    }
}

@media (max-width: 1100px) {
    body{
        .index_grid {
            height: 4500px;
                .card-body .btn-fav{
                    height: 80%;
                    width: 50%;
                    margin-left: 25%;
                    margin-right: 25%;
                }
                .itemc {
                    margin-bottom: 10%;
                    margin-top: 10px;
                }
                .item {
                    margin-bottom: 10%;
                    margin-top: 10px;
                }
        }
    }
}

@media (max-width: 570px) {
    body{
        .index_grid {
            .card-body .btn-fav{
                height: 80%;
                width: 40px;
                margin-left: 0px;
                margin-right: 5%;
            }
            .btn-comp{
                height: 80%;
                width: 65%;
                margin-right: 1px;
            }
            .btn{
                margin-left: 0px;
                margin-right: 0px;
                font-size: small;
            }
        }
        .footer_grid {
            margin-bottom: 0px;
            bottom: 0;
        }
    }
}